/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.valera {
  font-family: "Valera Round", sans-serif;
}
@font-face {
  font-family: "Nasa";
  font-style: normal;
  src: local("Nasa"), url(./assets/fonts/Nasa.ttf) format("truetype");
}

@font-face {
  font-family: "VarelaRound-Regular";
  font-style: normal;
  src: local("VarelaRound-Regular"),
    url(./assets/fonts/VarelaRound-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "LucidaGrande";
  font-style: normal;
  src: local("LucidaGrande"),
    url(./assets/fonts/LucidaGrande.ttf) format("truetype");
}
@font-face {
  font-family: "LucidaGrandeBold";
  font-style: normal;
  src: local("LucidaGrandeBold"),
    url(./assets/fonts/LucidaGrandeBold.ttf) format("truetype");
}
@font-face {
  font-family: "BadScript-Regular";
  font-style: normal;
  src: local("BadScript-Regular"),
    url(./assets/fonts/BadScript-Regular.ttf) format("truetype");
}

body {
  margin: 0;
}
